{% extends 'base.html.twig' %}

{% block title %}
    Tous nos biens
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi beatae cumque cupiditate delectus
            deleniti illo, incidunt iste, molestias non nulla odit officiis porro recusandae, sint vel vitae voluptates.</p>

{% endblock  %}